  <!DOCTYPE html>
  <!--=== Coding by CodingLab | www.codinglabweb.com === -->
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <!----======== CSS ======== -->
      <link rel="stylesheet" href="/StyleMenuUser2.css">
       
      <!----===== Iconscout CSS ===== -->
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- <link rel="stylesheet" href="https://fontawesome.com/icons/thumbs-up?f=sharp&s=solid"> -->
  
      <!-- Font Awesome Icons -->
      <link rel="stylesheet" href="/all.css">
      <link rel="stylesheet" href="/fontawesome.css">
      <link rel="stylesheet" href="/fontawesome.min.css">
      <title>Admin Dashboard Panel</title> 
     
  </head>
  <body>
      <nav>
          <div class="logo-name">
              <!-- <div class="logo-image">
                  <img src="./assets/imagesMenuUser/logo2.png" alt="">
              </div> -->
              <a href="/user/home/<%= user._id%>">
                  <i class="fa-brands fa-wolf-pack-battalion fa-bounce fa-2xl"></i>
                  <span class="logo_name">Animal World</span>
              </a>
              <!-- <div class="user-link"> -->
                  <div class="logo-image"><a href="#"><img src="<%= user.avatarimg %>" alt="Avatar Image"></a>
                      <div class = "sub-menu-1">
                          <ul>
                          <li>
                          <button class="btn-post">
                              <span>Dratf an aticle&nbsp;&nbsp;<i class="fa-solid fa-pen"></i></span>
                          </button>
                          </li>
                          <li>
                            <h2>hello <%= user.username %></h2>
                            <a href="<%= user._id %>/editProfile">
                                <span>Edit profile&nbsp;&nbsp;<i class="fa-solid fa-user"></i></span>
                            </a>
                          </li>
                          </ul>
                      </div>
                  </div>
                  <div class="logo-image">
                      <h2></h2>
                  </div>
              <!-- </div> -->
          </div>
  
          <div class="menu-items">
              <ul class="nav-links">
                  <li><a href="#" onclick="showDashboard()">
                      <i class="uil uil-estate"></i>
                      <span class="link-name">Dahsboard</span>
                  </a></li>
                  <li><a href="#"onclick="showBookmark()">
                      <i class="uil uil-files-landscapes"></i>
                      <span class="link-name">Bookmark</span>
                  </a></li>
                  <li><a href="#">
                      <i class="fa-regular fa-newspaper"></i>
                      <span class="link-name">My articles</span>
                  </a></li>
                  <li><a href="message.html">
                      <i class="uil uil-comments"></i>
                      <span class="link-name">Message</span>
                  </a></li>
                  <li><a href="./Drag Drop Sortable List/index.html">
                      <i class="fa-regular fa-user"></i>
                      <span class="link-name">Following</span>
                  </a></li>
                  <li><a href="#">
                      <i class="fa-brands fa-cc-discover"></i>
                      <span class="link-name">Discover</span>
                  </a></li>
              </ul>
              
              <ul class="logout-mode">
                  <li><a href="main.html">
                      <i class="uil uil-signout"></i>
                      <span class="link-name">Logout</span>
                  </a></li>
  
                  <li class="mode">
                      <a href="#">
                          <i class="uil uil-moon"></i>
                      <span class="link-name">Dark Mode</span>
                  </a>
  
                  <div class="mode-toggle">
                    <span class="switch"></span>
                  </div>
              </li>
              </ul>
          </div>
      </nav>
  
      <section id="dash board"class="dashboard">
          <div class="top">
              <i class="uil uil-bars sidebar-toggle"></i>
  
              <div class="search-box">
                  <i class="uil uil-search"></i>
                  <input type="text" placeholder="Search here...">
              </div>
              <div></div>
          <!-- <div class="user-link">
              <a href="#"></a><img src="./assets/imagesMenuUser/profile2.jpg" alt=""></a>
              <div class = "sub-menu-1">
                  <ul>
                  <li>
                  <button class="btn-post">
                      <span>Dratf an aticle&nbsp;&nbsp;<i class="fa-solid fa-pen"></i></span>
                  </button>
                  </li>
                  <li>
                      <button class="btn-post">
                          <span>Edit profile&nbsp;&nbsp;<i class="fa-solid fa-user"></i></span>
                      </button>
                  </li>
                  </ul>
              </div>
          </div> -->
          </div>
  
          <div class="showw" id="showw">
  
          </div>
  
          <div id="dash-content" class="dash-content">
              <div class="overview">
                  <div class="title">
                      <i class="uil uil-tachometer-fast-alt"></i>
                      <span class="text">Dashboard</span>
                  </div>
  
                  <div class="boxes">
                      <div class="box box1">
                          <i class="uil uil-thumbs-up"></i>
                          <span class="text">Total Likes</span>
                          <span class="number">50,120</span>
                      </div>
                      <div class="box box2">
                          <i class="uil uil-comments"></i>
                          <span class="text">Comments</span>
                          <span class="number">20,120</span>
                      </div>
                      <div class="box box3">
                          <i class="uil uil-share"></i>
                          <span class="text">Total Share</span>
                          <span class="number">10,120</span>
                      </div>
                  </div>
              </div>
  
              <div class="activity">
                  <div class="title">
                      <i class="uil uil-clock-three"></i>
                      <span class="text">Recent Activity</span>
                  </div>
  
                  <div class="activity-data">
                      <div class="data names">
                          <span class="data-title">Name</span>
                          <span class="data-list">Prem Shahi</span>
                          <span class="data-list">Deepa Chand</span>
                          <span class="data-list">Manisha Chand</span>
                          <span class="data-list">Pratima Shahi</span>
                          <span class="data-list">Man Shahi</span>
                          <span class="data-list">Ganesh Chand</span>
                          <span class="data-list">Bikash Chand</span>
                      </div>
                      <div class="data email">
                          <span class="data-title">Email</span>
                          <span class="data-list">premshahi@gmail.com</span>
                          <span class="data-list">deepachand@gmail.com</span>
                          <span class="data-list">prakashhai@gmail.com</span>
                          <span class="data-list">manishachand@gmail.com</span>
                          <span class="data-list">pratimashhai@gmail.com</span>
                          <span class="data-list">manshahi@gmail.com</span>
                          <span class="data-list">ganeshchand@gmail.com</span>
                      </div>
                      <div class="data joined">
                          <span class="data-title">Joined</span>
                          <span class="data-list">2022-02-12</span>
                          <span class="data-list">2022-02-12</span>
                          <span class="data-list">2022-02-13</span>
                          <span class="data-list">2022-02-13</span>
                          <span class="data-list">2022-02-14</span>
                          <span class="data-list">2022-02-14</span>
                          <span class="data-list">2022-02-15</span>
                      </div>
                      <div class="data type">
                          <span class="data-title">Type</span>
                          <span class="data-list">New</span>
                          <span class="data-list">Member</span>
                          <span class="data-list">Member</span>
                          <span class="data-list">New</span>
                          <span class="data-list">Member</span>
                          <span class="data-list">New</span>
                          <span class="data-list">Member</span>
                      </div>
                      <div class="data status">
                          <span class="data-title">Status</span>
                          <span class="data-list">Liked</span>
                          <span class="data-list">Liked</span>
                          <span class="data-list">Liked</span>
                          <span class="data-list">Liked</span>
                          <span class="data-list">Liked</span>
                          <span class="data-list">Liked</span>
                          <span class="data-list">Liked</span>
                      </div>
                  </div>
              </div>
          </div>
          <div id="bookmark" class = "bookmark">
              <div class="img">
                  <img src="/cao1.jpg" class="img" alt="blog1">
      
              </div>
              <div class="post-title">
                  <a href="#bookmark">Bạn nhìn thấy gì từ đôi mắt đáng thương này? Loài cáo Nam Mỹ đang biến mất dần vì con người
                  </a>
                  <p>Cáo Nam Mỹ được coi là một phần quan trọng của hệ sinh thái rừng nhiệt đới, với vai trò trong việc duy trì sự cân bằng động thực vật và kiểm soát dân số của các loài khác. Tuy nhiên, việc phá hủy môi trường sống của chúng đe dọa sự tồn tại của loài này, khiến chúng mất đi môi trường sống và nguồn thức ăn
                  </p>
              </div>
              <button class ="btn">Edit</button>
          </div>
          
      </section>
      
      <script src="/fontawesome.js"></script>
      <script src="/fontawesome.min.js"></script>
      <script src="/MenuUser2.js"></script>
  </body>
  </html>