<!DOCTYPE html>
<html>
<head>
  <title>Report Blog</title>
</head>
<body>
  <h1>Report Blog</h1>
  <form action="/user/<%= user._id %>/report/<%= blog._id %>" method="post">
    <p>Select reasons for reporting:</p>
    <label>
      <input type="checkbox" name="reportReasons" value="Violence"> Violence
    </label><br>
    <label>
      <input type="checkbox" name="reportReasons" value="Harassment"> Harassment
    </label><br>
    <label>
      <input type="checkbox" name="reportReasons" value="FalseInformation"> False Information
    </label><br>
    <label>
      <input type="checkbox" name="reportReasons" value="Spam"> Spam
    </label><br>
    <label>
      <input type="checkbox" name="reportReasons" value="IllegalSales"> Illegal Sales
    </label><br>
    <label>
      <input type="checkbox" name="reportReasons" value="Terrorism"> Terrorism
    </label><br>
    <p>Additional description (optional):</p>
    <textarea name="additionalDescription" rows="4" cols="50"></textarea><br>
    <button type="submit">Submit Report</button>
  </form>
</body>
</html>
